@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    90deg,
    rgba(242, 32, 0, 0.8183648459383753) 0%,
    rgba(76, 227, 38, 0.44861694677871145) 55%,
    rgba(0, 57, 198, 0.4430147058823529) 96%
  );
}

h1 {
  text-align: center;
}

.simulador {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}
.cor {
  padding: 5rem;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  margin: 0 30rem;
  border-radius: 8px;
  box-shadow: 10px 14px 10px -9px rgba(186, 185, 191, 1);
  border: 0.5px solid lightgrey;
}

#valorRed {
  max-width: 2rem;
  margin: 0 1rem;
  text-align: center;
}

#valorGreen {
  max-width: 2rem;
  margin: 0 1rem;
  text-align: center;
}

#valorBlue {
  max-width: 2rem;
  margin: 0 1rem;
  text-align: center;
}

label {
  margin: 0 1rem;
}

#red {
  width: 8.5rem;
}

#blue {
  width: 10.5rem;
}

#green {
  width: 10rem;
}

.label1 {
  color: red;
  font-weight: 500;
}

.label2 {
  color: green;
  font-weight: 500;
}

.label3 {
  color: blue;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .cor {
    margin: 0;
  }
}
